URxvt*font: xft:Source Code Pro:size=10,xft:Source Han Code JP:size=11
URxvt.scrollBar: false
URxvt.title:URxvt-Unicode
URxvt.termName:rxvt-unicode

URxvt.inputMethod:fcitx

URxvt.scrollTtyOutput: False
URxvt.scrollTtyKeypress: True
URxvt.scrollWithBuffer: True

URxvt.depth: 32
URxvt.background: [95]#000000
URxvt.foreground: #ffffff

Xcursor.theme: Breeze_Hacked
Xcursor.size: 28

Xft.dpi: 120
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft*rgba: rgb
Xft*lcdfilter: lcddefault
