# Hide card reader when no card is inserted
KERNEL=="sd*", SUBSYSTEM=="block", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="0151", ENV{ID_SERIAL_SHORT}=="20060413092100000", ENV{ID_MODEL}=="Compact_Flash", ATTR{size}=="0", ENV{UDISKS_IGNORE}="1"
KERNEL=="sd*", SUBSYSTEM=="block", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="0151", ENV{ID_SERIAL_SHORT}=="20060413092100000", ENV{ID_MODEL}=="SM_xD-Picture", ATTR{size}=="0", ENV{UDISKS_IGNORE}="1"
KERNEL=="sd*", SUBSYSTEM=="block", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="0151", ENV{ID_SERIAL_SHORT}=="20060413092100000", ENV{ID_MODEL}=="SD_MMC", ATTR{size}=="0", ENV{UDISKS_IGNORE}="1"
KERNEL=="sd*", SUBSYSTEM=="block", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="0151", ENV{ID_SERIAL_SHORT}=="20060413092100000", ENV{ID_MODEL}=="MS_MS-Pro", ATTR{size}=="0", ENV{UDISKS_IGNORE}="1"

